/* CSS for SVG */

.score {
    margin: 30px 0 20px 0;
}

.mei {
    float: left;
    width: auto;
    margin-right: 70px;
}

.mei svg tspan.text {
/* tekstnet bruger:     font-family: 'Noto Serif', serif  */
    font-family: 'Noto Serif', Georgia, 'times new roman', times, serif; 
}

.mei svg .dir.sb, .mei svg .dir.pb {
    font-style: normal;
}

/* Editorial comments */

.mei svg .dir.comment {
    transform: translate(-150px,-75px);
    visibility: hidden; 
}

.mei svg .dir.comment.visible {
    visibility: visible; 
}

.mei svg .dir.comment tspan.text {
    font-style: normal;
    font-size: 250pt;
}

.mei_comment {
    height: auto;
    min-height: auto;
}

/* Highlight comment markers */
.mei svg .dir {
    fill: #6a9112;
    stroke: #6a9112;
    cursor: help;
}

.mei svg .comment {
    cursor: pointer;
}


.mei svg .bracketspan, .mei svg .warning, .cursorHelp:hover {
    cursor: help;
}

.mei svg .highlight, .mei svg .highlight:hover {
    fill: #0a0;
    stroke: #0a0;
}

.mei svg .warning, .mei svg .warning:hover {
    fill: #c00;
    stroke: #c00;
}

/* Selection */
.mei svg .selected, .mei svg .hover {
    fill: #06f !important;
    stroke: #06f !important;
}

.selectionBox {
    stroke: #06f;
    fill: #06f;
    fill-opacity: 0.1;
    cursor: url('img/cursor_search.png'), auto;
}

/* Prevent note heads etc. from being partly hidden */
.mei svg:not(:root) {
    overflow: visible;
}

.mei svg .dir.sb tspan.text, .mei svg .dir.pb tspan.text {
/* tekstnet bruger:     font-family: 'Noto Serif', serif  */
    font-family: Georgia, 'times new roman', times, serif; 
    font-size: 400;  
}

/* CSS for non-SVG contents */


/* MIDI player */
#player {
    visibility: hidden;  
}

.midi_player {
    display: inline-block;
    margin: 3px 0 10px 0;
}


.midi_button {
    width: 20px;
    height: 20px;
    border: 1px solid #888;
    border-radius: 5px; 
    background-color: #ccc;
    display: inline-block;
    margin-right: 2px;
    line-height: 1em;
    vertical-align: text-bottom;
    cursor: pointer;
    }
    
.midi_button:hover {
    background-color: #eee;
}
    
.midi_button .symbol, .midi_button .symbol:hover {
    display: inline-block;
    position: relative;
    /* color: #000; */
    text-decoration: none;
}

.midi_button.play .symbol {
    width: 0px;
    height: 0px;
    left: 5px;
    top: 3px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #666;
    }

.midi_button.play:hover .symbol {
    border-left: 10px solid #c00;
}

.midi_button.stop {
    display: none;
}

.midi_button.stop .symbol {
    width: 10px;
    height: 10px;
    top: 4px;
    background-color: #666;
    margin-left:4px;
}

.midi_button.stop:hover .symbol {
    background-color: #c00;
}

.midi_button.stop.playing {
    display: inline-block; 
}

.midi_button.play.playing {
    display: none; 
}

.midi_button .label {
    display: inline-block;
    position: relative;
    top: 2px;
    margin-left: 24px;
}

.midi_button:hover {
    color: #2a6496;
}

.midi_button.play .label {
    top: -5px;
    margin-left: 10px;
}

.midi_button.stop .label {
    top: 0px;
    margin-left: 24px;
}

.midi_button.database {
    background-image: url("img/music_document.png");
    background-position: 1px 1px;
    background-repeat: no-repeat;
}

.exist_link a:hover .midi_button.database {
    background-image: url("img/music_document_hi.png");
}

.midi_button.print {
    background-image: url("img/print.png");
    background-position: 1px 1px;
    background-repeat: no-repeat;
}

.print_link a:hover .midi_button.print {
    background-image: url("img/print_hi.png");
    
}

.exist_link, .print_link {
    margin: 8px 0 0 0;
}

.mei svg .playing {
    fill: #c00 !important;
    stroke: #c00 !important;
    color: #c00;
}

/* Place and format option menus. */

.mei_options {
    float: left;
    width: auto;
    margin: 10px 0 0 -70px;
    display: none;
}

.mei_options .mei_menu_container {
    position: absolute;
    float: left;
    width: auto;
    padding: 10px 8px;
    margin: 0 0 0 40px;
    background-color: #003b5c; 
    background-color: #888; 
    background-color: #ddd; 
    border: 4px solid #888;
    border: 4px solid #003b5c;
    border-radius: 10px;
/*    color: #dcd2ab; */
    font-size: 14px;
    white-space: nowrap;
}

.mei_options form {
    margin: 0;
    padding: 0;
}

.mei_options hr {
    margin: 5px 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #fff;
}

.mei_options a, .mei_options a:link, .mei_options a:visited, .mei_options a:active {
/*    color: #dcd2ab;  */
    color: #000;  
    text-decoration: none;
}

.mei_options a:hover, .mei_options label:hover  {
/*    color: #dcd2ab;  */
    color: #2a6496;
    text-decoration: none;
}

.mei_options .menu_icon_container {
    background-color: #888;
    background-color: #003b5c;
    margin: -14px -12px -14px -12px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.mei_options .mei_menu_icon {
    width: 20px;
    height: 16px;
    vertical-align: unset; 
}

/* options menu expand effect */
.mei_options .mei_menu_content {
    display: none;
}

.mei_options:hover, .mei_options:hover .mei_menu_container {
    z-index: 1000;
}

.mei_options:hover .mei_menu_content {
    display: block;
}

.mei_options:hover .menu_icon_container {
    margin-bottom: 5px;
    padding-bottom: 0px;
    border-radius: 10px 10px 0 0;
}

.mei_options:hover .mei_menu_icon {
    margin-bottom: 8px;
}


/* only if jQuery UI-dialogs are NOT used: */
.mei_overlay {
    padding: 15px;
    background-color: #ccc;
    border: 1px solid #000;
    width: auto;
    display: none;   
    position: absolute;
}

/* editorial comments */
.mei_comment a {
    text-decoration: underline;
}

.ui-dialog {
    font-size: .8em;
}

/* for local viewer with upload */
.mei_upload {
    padding: 20px 20px 10px 20px;
    margin: 0 -20px 20px -20px;
    background-color: #003b5c;
    color: #fff;
}

.mei_upload input {
    display: none;
}

.custom_input {
/*    border: 1px solid #057abc;  */
    background-color: #fff; 
    border: 1px solid black;
    display: inline-block;
    padding: 4px 10px;
    cursor: pointer;
}

select.custom_input {
    padding: 0;
}


/* Metadata and general page style */

.metadata h1 {
    margin: 0 0 0 0;
}

.metadata h2 {
    margin: 0;
}

.metadata .top .left {
    /*  overrides styles.css  */
    float: none;
}

p.loading {
    color: #777;
}


.searchWrapper {
    background-color: #245270; 
    /* #1d4159; */ 
    /* #245270; */
    margin-bottom: 15px;
}

.relation {
    position: relative;
    float: left;
    width: auto;
    margin: 0 10px 10px 0;
    background-color: #245270;
    border-radius: 6px;
    color: white;
    font-weight: normal;
    display: block;
    padding: 2px 5px 0 34px;
    background-image: url("img/music_document_white.png");
    background-position: 10px 5px;
    background-repeat: no-repeat;
    height: 25px;
}

.relation a {
    color: white;
    text-decoration: none;
}

.relation:hover {
    text-decoration: none;
    filter: brightness(1.15);
    -webkit-filter: brightness(1.15);
    -moz-filter: brightness(1.15);
    -o-filter: brightness(1.15);
    -ms-filter: brightness(1.15);    
}



/* Item class styles */

.music_document, .result_list .title.music_document {
    background-color: #1d4159; 
    /* #536d7e; */
}

.publication, .result_list .title.publication {
    background-color: #446458; 
    /* #537e6e; */
}

.collection, .result_list .title.collection {
    background-color: #665d43; 
    /* #7e7353; */
}

.melody, .result_list .title.melody {
    background-color: #4f4368; 
    /* #60537e; */
}

.liturgy, .result_list .title.liturgy {
    background-color: #664343; 
    /* #7e5353; */
}

.topic, .result_list .title.topic {
    background-color: #4d4d4d; 
    /* #666666; */
}


.result_list .title.music_document, .relation.music_document {
    background-image: url("img/music_document_white.png");
}

.result_list .title.publication, .relation.publication {
    background-image: url("img/book_white.png");
}

.result_list .title.collection, .relation.collection {
    background-image: url("img/collection_white.png");
}

.result_list .title.melody, .relation.melody {
    background-image: url("img/melody_white.png");
}

.result_list .title.liturgy, .relation.liturgy {
    background-image: url("img/liturgy_white.png");
}

.result_list .title.topic, .relation.topic {
    background-image: url("img/topic_white.png");
}

.result_list .title.document {
    background-image: url("img/document_white.png");
}



.page_head_title {
    font-size: 15pt;
    color: #777;
    margin-left: 20px;
}

.wait, .wait * {
    cursor: wait;
}

.wait_overlay {
    cursor: wait;
    background-color: rgba(0,0,50,0.08);
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: none; 
}

.wait_overlay.visible {
    display: block;
}

.list_block {
    display: table;
}

table.toc  {
    border: 0px;
    font-size: 14px;
}

table.toc th, table.toc td {
    border: 0px;
    vertical-align: top;
}

table.toc th {
    text-align: left; 
    padding: 15px 10px 10px 0;
}

table.toc td {
    padding: 5px 10px 0 0;
}

.clickable {
    cursor: pointer;
}

.relation_list {
    display: table-row;
}

.relation_list_label, .relations {
    display: table-cell;
    padding: .5em .5em 0 0;
    line-height: 1.6em;
}

.tei_vocal_text, .clear_both {
    clear: both;
}

.download {
    float: right;
    width: auto;
    margin-top: 20px;
}

a.abbr {
    border-bottom: 1px dashed #666;
    cursor: help;   
    text-decoration: none;
    color: inherit;
}

a:hover.abbr .expan {
    visibility:visible;
}

.expan {
    display:inline;
    position: absolute;
    visibility:hidden;
    white-space: normal;
    text-decoration:none;
    color: black;
    background-color:#ddd;
    padding: 1px;
    padding-bottom: 5px;
    z-index:250;
    padding: 8px 4px 4px 4px;
    width: auto;
    max-width: 300px;
    margin-top: 15px;
    margin-left: -5px;
    border: 1px solid #ddd;
    font-weight:normal;
    font-style: normal;
    text-align: left;
    box-shadow: 7px 7px 10px 5px #333;
    border-radius: 4px;
    /* For non-CSS3 FireFox */
    -moz-box-shadow: 7px 7px 10px 5px #333;
    -moz-border-radius: 4px;
    /* For MSIE 6-8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#333333')"; 
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#333333'); 
}

/* fonts */

.musical_symbols {
    font-family: 'Bravura Text';
    font-size: 18px;
    position:relative;
    top: -5px;
}

@font-face {
	font-family: 'Bravura Text';
	src: url('https://salmer.dsl.dk/cors.xq?res=/salmer/style/fonts/BravuraText.eot');
	src: local('Bravura Text'), 
	       url('https://salmer.dsl.dk/cors.xq?res=/salmer/style/fonts/BravuraText.eot?#iefix') format('embedded-opentype'),
	       url('https://salmer.dsl.dk/cors.xq?res=/salmer/style/fonts/BravuraText.woff') format('woff'), 
	       url('https://salmer.dsl.dk/cors.xq?res=/salmer/style/fonts/BravuraText.svg#BravuraText') format('svg');
} 

/* print */
@media print {
    
    .mei_menu, .custom_input, .noprint {
        display: none;
    }
    
    .mei_upload {
        color: #000;
        background-color: #fff;
    }

    .mei_options {
        color: #000;
        background-color: #fff;
        border: none;
        padding: 0;
    }

}
