.paging_div {
    font-weight: bold;
}

.paging_div .paging {
    display: inline-block;
    padding: 1px 5px;
    margin: 2px 0;
}

a.paging, a.paging:visited, a.paging:active {
/*    color: #428bca; */
    color: white;
/*    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(88, 135, 38) 0%, rgb(51, 98, 1) 100%) repeat scroll 0 0; */
    background-color: #536d7e;
}

.paging_div a:hover, .paging_div a:active {
    text-decoration: none;
    background-color: #6d8a9e;
}

.paging_div .selected {
    background-color: #ccc;
    color: #888;
}

.search {
    padding-bottom: 10px;
}

.search_block {
    display: table-cell;
    width: 650px;
    vertical-align: top;
}

.search_block_narrow {
    width: 375px;
}

.search_block_narrow hr {
    border-color: #dcd2ab;
    margin: 0 40px 4px 0;
}

.search_options {
    margin: auto;
    color: #fff;
    padding: 5px 0;
    display: table;
}

.search .form {
    margin: 0;
}

.search .form .input-label {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    margin: 0 0 5px 10px;
    vertical-align: top;
}

.search .form .checkbox-list .input-label {
    width: 330px;
}

.search .form input[type="text"] {
    font-size: 14px;
    font-family: 'Noto Serif', serif;
}

.search .form select, .search .form select option {
    font-size: 14px;
    font-family: 'Noto Serif', serif;
}

.checkbox-list {
    margin-top: 10px;
}

.search-button {
    height: 30px;
}

.result_list {
    width: 720px;
    min-width: 720px;
    margin: 20px auto;
}

.result_list .item {
/*    border-top: 2px solid #000; */
    margin-top: 5px;
    padding-top: 10px;
}

.result_list .title {
    background-color: #536d7e;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    display: block;
    padding: 2px 0 0 34px;
    background-image: url("img/document_white.png");
    background-position: 10px 5px;
    background-repeat: no-repeat;
    height: 21px;
}

.result_list .title:hover {
    background-color: #6d8a9e;
    text-decoration: none;
}

.mei svg .dir.pb, .mei svg .dir.sb {
    transform: translate(0px,-50px);
    -ms-transform: translate(0px,-50px); /* IE 9 */
    -webkit-transform: translate(0px,-50px); /* Safari and Chrome */
    -o-transform: translate(0px,-50px); /* Opera */
}

.mei svg .highlight {
    fill: #080;
    stroke: #080;
}

.mei svg .dir.fragment {
    fill: #000;
    stroke: #000;
    font-style: normal;
    font-weight: bold;
}

.mei svg .dir.fragment.above {
    transform: translate(-750px,-300px);
    -ms-transform: translate(-750px,-300px); /* IE 9 */
    -webkit-transform: translate(-750px,-300px); /* Safari and Chrome */
    -o-transform: translate(-750px,-300px); /* Opera */
}

.mei svg .dir.fragment.below {
    transform: translate(-750px,600px);
    -ms-transform: translate(-750px,600px); /* IE 9 */
    -webkit-transform: translate(-750px,600px); /* Safari and Chrome */
    -o-transform: translate(-750px,600px); /* Opera */
}

#pnames, #contour {
    width: 220px;
}

#pnames, #contour, #query_title {
    text-align: left;
}

#pitch_form label, #contour_form label, 
#title_form label, #title_form2 label {
    width: 125px;
    display: inline-block;
}

#pQueryOut {
/*   
    background-color: #f4f4fa; 
    margin: 5px auto;
    border: 2px solid #000;  
*/
    background-color: #fff; 
    border: 2px solid #333;
    border-bottom: none;
    margin: 0 -1px -1px 1px;
    width: 392px;
    height: 70px;
    padding: 0 8px;
}

#pQueryOut svg {
    margin-top: -5px;
}

#pQueryOut svg path, #pQueryOut svg {
    fill: #000;
    stroke: #000;
}

#pQueryOut svg .rest {
    /* hide default rest in empty query */
    visibility: hidden;
}

#pSearch input {
    margin-left: 0;
}

#pSearchDiv input {
    margin-left: 20px;
}

#pSearch .checkbox-options {
    white-space: nowrap;
}

/* tabs */
.tab {
  overflow: hidden;
  margin-top: 10px;
}

.tab button {
/*  background-color: inherit; */
  float: left;
  border: none;
  border-radius: 8px 8px 0 0;
  margin-right: 1px;
  outline: none;
  cursor: pointer;
  padding: 4px 20px;
  color: #dcd2ab;
  background-color: rgba(255,255,255,0.1);
  transition: 0.3s;
}

.tab button:hover {
  background-color: rgba(255,255,255,0.2);
}

.tab button.active {
  background-color: rgba(255,255,255,0.2);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
  background-color: rgba(255,255,255,0.2);
  /*-webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;  Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


/* piano input */

#piano_wrapper {
/*    display: table-row;  */
    padding: 20px 10px 10px 10px; 
}

#piano_cell, #piano_search_cell {
    display: table-cell;
    vertical-align: top;
    text-align: left;
}

#piano {
    padding: 1px;
    width: 392px;
    margin: 0 auto 10px auto;
    z-index: 2;
    text-align: center;
}

#piano .keys {
    width: 392px;
    padding: 1px 0 0 2px;
    overflow: hidden;
    background: #333;
    border-radius: 0 0 4px 4px;
}

.key {
    float: left;
    position: relative;
    width: 24px;
    height: 90px;
    margin: 0 2px 2px 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
}
.key.pressed,
.key:active {
    background: #f9f9f9;
    box-shadow: inset 2px 1px 2px #aaa, inset -2px 1px 2px #aaa;
}
.key.black {
    width: 0;
    margin: 0;
    z-index: 2;
}
.key.black:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -8px;
    display: block;
    width: 16px;
    height: 59px;
    background: #000;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 0px #999, 2px 2px 0px #999;
}
.key.black1:after {
    left: -10px;
}
.key.black3:after {
    left: -8px;
}
.key.black.pressed:after,
.key.black:active:after {
    background-color: #333;
    box-shadow: 1px 1px 0px #999, 1px 1px 0px #999;
/*    box-shadow: inset 2px 1px 2px #999, inset -2px 1px 2px #999; */
}

.debug {
    color: #888;
    font-size: .8em;
}
