.paging_div {
    font-weight: bold;
}

.paging_div .paging {
    display: inline-block;
    padding: 1px 5px;
    margin: 2px 0;
}

a.paging, a.paging:visited, a.paging:active {
    color: white;
    background-color: #536d7e;
}

.paging_div a:hover, .paging_div a:active {
    text-decoration: none;
    background-color: #6d8a9e;
}

.paging_div .selected {
    background-color: #ccc;
    color: #888;
}

.search_block {
    display: table-cell;
    width: 650px;
    vertical-align: top;
}

.search_block_narrow {
    width: 375px;
}

.search_block_narrow hr {
    border-color: #dcd2ab;
    margin: 0 40px 4px 0;
}

.search_options {
    margin: auto;
    color: #fff;
    padding: 5px 0;
    display: table;
}

.search .form {
    margin: 0;
}

.search .form .input-label {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    margin: 0 0 5px 10px;
    vertical-align: top;
}

.search .form .checkbox-list .input-label {
    width: 330px;
}

.search .form input[type="text"] {
    font-size: 14px;
    font-family: 'Noto Serif', serif;
}

.search .form select, .search .form select option {
    font-size: 14px;
    font-family: 'Noto Serif', serif;
}

.checkbox-list {
    margin-top: 10px;
}

.search-button {
    height: 30px;
}

.result_list {
    /*max-width: 1025px;*/
    min-width: 720px;
    /*margin: 20px auto;*/
}

.result_list .item {
    margin-bottom: 0;
    padding-top: 10px;
}

.result_list .title {
    background-color: #245270;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    display: block;
    padding: 2px 0 0 34px;
    margin-bottom: 8px;
    background-image: url("img/music_document_white.png");
    background-position: 10px 5px;
    background-repeat: no-repeat;
    height: 25px;
}

.result_list .title:hover {
    text-decoration: none;
    filter: brightness(1.15);
    -webkit-filter: brightness(1.15);
    -moz-filter: brightness(1.15);
    -o-filter: brightness(1.15);
    -ms-filter: brightness(1.15);    
}

.result_list .midi_player {
    display: block;
    margin: 0;
    position: relative;
    top: 4px;
    height: 20px;
}

.result_list .search_result_record_type {
    margin: 0 0 20px 0;
}

.mei {
    width: 100%;
    margin-right: 0;
}

.mei svg .dir.pb, .mei svg .dir.sb {
    transform: translate(0px,-50px);
    -ms-transform: translate(0px,-50px); /* IE 9 */
    -webkit-transform: translate(0px,-50px); /* Safari and Chrome */
    -o-transform: translate(0px,-50px); /* Opera */
}

.mei svg .dir.fragment {
    fill: #000;
    stroke: #000;
    font-style: normal;
    font-weight: bold;
}

.mei svg .dir.fragment.above {
    transform: translate(-750px,-300px);
    -ms-transform: translate(-750px,-300px); /* IE 9 */
    -webkit-transform: translate(-750px,-300px); /* Safari and Chrome */
    -o-transform: translate(-750px,-300px); /* Opera */
}

.mei svg .dir.fragment.below {
    transform: translate(-750px,600px);
    -ms-transform: translate(-750px,600px); /* IE 9 */
    -webkit-transform: translate(-750px,600px); /* Safari and Chrome */
    -o-transform: translate(-750px,600px); /* Opera */
}


#pnames, #contour, #query_title {
    text-align: left;
}

#pitch_form label, #contour_form label, 
#title_form label, #title_form2 label {
    width: 125px;
    display: inline-block;
}

#pQueryOut {
    background-color: #ecece8; 
    border: 2px solid #275874;
    border-bottom: none;
    margin: 0 -1px 1px 1px;
    width: 392px;
    height: 80px;
    padding: 0 8px;
    overflow: hidden;
}

#pQueryOut svg {
    position: relative;
    top: -10px;
    width: 490px;
}

#pQueryOut svg path, #pQueryOut svg {
    fill: #000;
    stroke: #000;
}

#pQueryOut svg .rest {
    /* hide default rest in empty query */
    visibility: hidden;
}

#pSearch input {
    margin-left: 0;
}

#pSearchDiv {
    color: #fff;
}

#pSearchDiv input {
    margin-left: 20px;
}

#pSearch .checkbox-options {
    white-space: nowrap;
    position: relative;
    float:left;
    margin-left: 40px;
    margin-bottom: 12px;
}

#pSearch .radio-inline {
    white-space: nowrap;
    line-height: 2.5em;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

#contour {
    font-family: courier, fixed, monospace;
    font-size: 1.2em;
}

#text-select {
    height: 0;
    overflow: hidden;
    transition:height 250ms ease-in-out;
}

.fold-out {
    margin-top: 20px;
}

.fold-out::after {
    content: "";
    background:url("/style/img/fold-right.png");
    background-position: 0 5px;
    height: 27px;
    width: 27px;
    display: inline-block;
    margin-left: 10px;
}

.fold-out.open::after {
    background:url("/style/img/fold-left.png");
    background-position: 0px 5px;
}

/* override other style sheets */

#search-field {
    height: auto;
}

#search-field::before, #search-field::after {
    height: 0px;
}

/* tabs */

#search-field .tablinks 
{
    background-color: #003B5C;
}

#search-field .search-form-container,
#search-field .tablinks.active,
#search-field .tablinks:hover {
    background-color: #275874;
    transition:height 250ms ease-in-out;
}

.tab.form {
    padding-left: 15px;
}

#search-field-contents, 
.tab.form {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    #search-field-contents, 
    .tab.form {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #search-field-contents, 
    .tab.form {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    #search-field-contents, 
    .tab.form {
        width: 1170px;
    }
}

.tab {
  overflow: hidden;
  margin-top: 10px;
}

.tab button {
  float: left;
  border: none;
  border-radius: 8px 8px 0 0;
  margin-right: 1px;
  outline: none;
  cursor: pointer;
  padding: 4px 20px;
  color: #dcd2ab;
}

.tabcontent {
  display: none;
  padding: 20px 16px;
  border-top: none;
  margin-bottom: 0;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


/* piano input */

#piano_wrapper {
    padding: 20px 10px 2px 13px; 
}

#piano_cell, #piano_search_cell {
    display: table-cell;
    vertical-align: top;
    text-align: left;
}

#piano {
    padding: 1px;
    width: 392px;
    margin: 0 auto 10px auto;
    z-index: 2;
    text-align: center;
}

#piano .keys {
    width: 392px;
    padding: 1px 0 0 2px;
    overflow: hidden;
    background: #333;
    border-radius: 0 0 4px 4px;
}

.key {
    float: left;
    position: relative;
    width: 24px;
    height: 90px;
    margin: 0 2px 2px 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
}
.key.pressed,
.key:active {
    background: #f9f9f9;
    box-shadow: inset 2px 1px 2px #aaa, inset -2px 1px 2px #aaa;
}
.key.black {
    width: 0;
    margin: 0;
    z-index: 2;
}
.key.black:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -8px;
    display: block;
    width: 16px;
    height: 59px;
    background: #000;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 0px #999, 2px 2px 0px #999;
}
.key.black1:after {
    left: -10px;
}
.key.black3:after {
    left: -8px;
}
.key.black.pressed:after,
.key.black:active:after {
    background-color: #333;
    box-shadow: 1px 1px 0px #999, 1px 1px 0px #999;
/*    box-shadow: inset 2px 1px 2px #999, inset -2px 1px 2px #999; */
}

.debug {
    color: #888;
    font-size: .8em;
}
