body {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    max-width: 50em;
    width: 28em;
    text-align: justify;
}
blockquote{
    margin: 0.2em 0.7em 0.2em 0.7em;
}
h1 {
    margin: 1em 0;
    position: relative;
}
div.metadata {
    margin: 1.9em 0;
    margin-bottom: 2.7em;
    position: relative;
}
div.body {
    margin: 10em 0;
    position: relative;
}
p {
    margin: 1em 0;  
    position: relative;
}
div.poetry{
    margin: 1em 2em 0 2em;
    font-size: 85%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
}

ul.simple-list{
    list-style-type: none;
}

li > p {
    margin: 0.5em;
}


.speech {
    position:relative;
}
.epigraph {   
    margin-bottom: 3em;
    margin-left: 20%;
    position:relative;
    /* display: block;*/
}
.bibl-ref {
    float: right;
    position: relative;
    display:block;
}
.center {
    text-align:center;
}
.content{
    position: relative;
}
.caption {
    font: Verdana, sans-serif;
    display: block;
    left: -6em;
    width: 6em;
    position: absolute;
    top: 0;
    font-size: 1em;
    text-align: center;
    color: #999;
}

.p-number {
    display: block;
    left: -4em;
    width: 6em;
    position: absolute;
    top: 0;
    font-size: 1em;
    text-align: center;
    color: #999;   
}
.legacy-page-break{
}
.meta-head{
    color: gray;
    font: Verdana, sans-serif;
}
.page-break-mark{
    font-size: 12px;
    font-weight:normal;
    color: #999;
}
.page-break-value{
    vertical-align:inherit;
    font-size: 12px;
    font-weight: normal;
    left:-30px;
    position: absolute;
    width: 29px;
    color: #999;
}

/*This places the text-and-note container in relative position to ??*/
.text-and-note {
    position:relative;
}

.sidenotes {
    color: gray;
    font: .700em/1.44 Verdana, sans-serif; 
    list-style: none;
    background: none;
    position: absolute;
    text-align: left;
    top:0;
    right: -21.5em;
    width: 20em;
    /* margin: .2em 0 1.44em 0; */
    margin: 0;
    /*overflow: hidden;*/
}
.signature {
    text-align: right;
}
.titlePage{
    text-align: center;
}
.poetry-center{
    text-align: center;
}
.poetry-right{
    text-align: right;
}
.prose-center{
    text-align: center;
}
.prose-right{
    text-align: right;
}
p.title{
    margin-left:1.5em;
}
p.indent1{
    text-indent: 1em;
    margin: 0.2em 0 0.2em;
}
p.indent2{
    text-indent: 2em;
    margin: 0.2em 0 0.2em;
}
p.indent3{
    text-indent: 3em;
    margin: 0.2em 0 0.2em;

}
p.indent4{
    text-indent: 4em;
    margin: 0.2em 0 0.2em;

}
p.indent5{
    text-indent: 5em;
    margin: 0.2em 0 0.2em;

}
p.indent6{
    text-indent: 6em;
    margin: 0.2em 0 0.2em;

}
p.indent7{
    text-indent: 7em;
    margin: 0.2em 0 0.2em;

}
p.indent8{
    text-indent: 8em;
    margin: 0.2em 0 0.2em;

}
p.indent9{
    text-indent: 9em;
    margin: 0.2em 0 0.2em;

}
p.indent10{
    text-indent: 10em;
    margin: 0.2em 0 0.2em;

}
p.indent11{
    text-indent: 11em;
    margin: 0.2em 0 0.2em;

}
p.indent12{
    text-indent: 12em;
    margin: 0.2em 0 0.2em;

}
p.indent13{
    text-indent: 13em;
    margin: 0.2em 0 0.2em;

}
p.indent14{
    text-indent: 14em;
    margin: 0.2em 0 0.2em;

}
p.indent15{
    text-indent: 15em;
    margin: 0.2em 0 0.2em;

}
p.align-last-right{
    margin: 0.2em 0 0.2em;
    text-align:justify;
    text-align-last:right;
}
p.verse-line{
    margin: 0.2em 0 0.2em;
}

.drama{
    margin: 1em 2em 0 2em;
    
}
.drama-speaker{
    text-align:center;
    margin-bottom:-0.5em;
}
.drama-speech{
    margin-bottom: 0.5em
}
