* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: Georgia, Times New Roman, sans-serif;
    font-size: 17px;
    letter-spacing: 0.2px;
    line-height: 1.5;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    /*max-width: 53em;*/
    /*width: 36em;*/
    text-align: justify;
    text-rendering: optimizeLegibility;
}
a {
    text-decoration: none;
}
a:active{
    background: 0 0;
    color: #008cff;
}
a:hover{
    background: 0 0;
    color: #008cff;
}

blockquote{
    margin: 0.2em 0.7em 0.2em 0.7em;
}
h1, h2, h3, h4, h5 {
    letter-spacing: -0.01em;
    margin: 1em 0;
    position: relative;
    text-align: left;
}

div.metadata{
    margin: 1.9em 0;
    margin-bottom: 2.7em;
    position: relative;
}
div.body{
    margin: 10em 0;
    position: relative;
}
p{
    margin: 1em 0;
    position: relative;
}
div.poetry{
    margin: 1em 2em 0 2em;
    font-size: 95%;
}

table, th, td {
    border: 0.05em solid gray;
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    /*width: 100%;*/
    overflow: auto;
}

th, td {
    padding: 15px;
}
/*ul.toc{
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom 0;
    list-style: none;

}*/

ul.simple-list{
    list-style-type: none;
}

li > p {
    margin: 0.5em;
}

li.divider{
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background: rgbd(0,0,0,.07);
}
#metadata-section{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
}
.summary {
    width: 300px;
    left: 0;
    overflow: scroll;
    position: absolute;
    transition: none !important;
    z-index: 1;  
}
.summary .toc li a{
    background: 0 0;
    border-bottom: none;
    color: #364149;
    display: block;
    overflow: scroll;
    padding: 5px 0 0 0;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*width: 300px;*/
}

.summary .toc > li:nth-child(1) a{
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,.07);
    height: 33px;
    /*padding-top: 1px !important;*/
    text-decoration: none;
    top: 0;
}
.summary .toc li ul li{
    display: block;
    text-decoration: none;
}


.summary li ul.drop-down-menu{
    /*display: none;*/
}

/* Add an active class to the active dropdown button */
.active {
    background-color: green;
    color: white;
}
.fa-caret-down{
  float: right;
  padding-right: 8px;
}
.dropbtn{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropbtn:hover {
  color: #f1f1f1;
}

.dropdown-container{
  /*display: none;*/
  /*background-color: #262626;*/
  padding-left: 8px;
}

.text-container{
    border-right: 0.03em solid gray;
    padding: 0.5em 0.7em 0.5em 0.7em;
}

h1.editorial {
    color: gray;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.speech{
    position: relative;
}
.epigraph{
    margin-bottom: 3em;
    margin-left: 20%;
    position: relative;
    /* display: block;*/
}
.bibl-ref{
    float: right;
    position: relative;
    display: block;
}

.center{
    text-align: center;
}

.figure{
    border: 0.05em solid gray;
    border-spacing: 1;
    /*border-collapse: collapse;*/
    /*box-sizing: border-box;*/
    /*width: 100%;*/
    /*overflow: auto;*/
    margin:1em 0 1em 0;
    padding: 0.5em 0.5em 0.5em 0.5em;

}

.text-header{
    background: #fafafa;
    color: #7e888b;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .85em;
    height: 50px;
    left: 300px;
    overflow: visible;
    padding: 0 8px;
    position: fixed;
    right: 0;
    top: 0;
    border-bottom: 1px solid rgba(0,0,0,.07);
    z-index: 2;
}
.text-wrapper {
    margin-top: 1.275em;
    position: relative;
    outline: 0;
}

.content {
   max-width: 850px;
   margin: 0 auto;
   padding: 20px 0 920px;
}
.content{
    bottom: 0;
    left: 300px;
    position: absolute;
    top: 0;
}

.content-inner{
   max-width: 700px; 
   padding: 0 0 0 40px;
}
.caption{
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    /*left: -6em;*/
    right: -11em;
    width: 7em;
    position: absolute;
    top: 0;
    font-size: 0.7em;
    padding-top: 0.8em;
    text-align: left;
    color: #999;
}

.p-number{
    display: block;
    left: -4em;
    width: 6em;
    position: absolute;
    top: 0;
    font-size: 1em;
    text-align: center;
    color: #999;
}
.legacy-page-break{
}

/*.metadata{
    color: gray;
    font: Verdana, sans-serif;
}*/

.meta-head{
    color: gray;
    font: Verdana, sans-serif;
}
.page-break-mark{
    font-size: 14px;
    font-weight: normal;
    color: #999;
    /*margin: 0 0 0.5em 0;*/
    padding: 0 0 0 0;
}
.page-break-value{
    font-family: Helvetica, Arial, sans-serif;
    vertical-align: inherit;
    font-size: 12px;
    font-weight: normal;
    left: -50px;
    padding: 0.5em 0 0 0;
    position: absolute;
    width: 29px;
    color: #999;
}

.marginal-note-content{
   right: -125px;
   font-size: 13px;
   /*background-color: red;*/
   position: absolute;
   text-align: left;
   width: 100px;
}
/*This places the text-and-note container in relative position to ??*/
.text-and-note{
    position: relative;
}

.sidenotes{
    color: gray;
    font: .700em/1.44 Verdana, sans-serif;
    list-style: none;
    background: none;
    position: absolute;
    text-align: left;
    top: 0;
    right: -21.5em;
    width: 20em;
    /* margin: .2em 0 1.44em 0; */
    margin: 0;
    /*overflow: hidden;*/
}
.signature{
    text-align: right;
}
.summary{
    background: #fafafa;
    border-right: 1px solid rgba(0,0,0,.07);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    left: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    transition: none !important;
    width: 300px;
    z-index:1;
}

.toc{
    list-style: none;
}

.titlePage h1, .titlePage h2, .titlePage h3, .titlePage h4, .titlePage p {
    text-align: center;
}
.poetry-center{
    text-align: center;
}
.poetry-right{
    text-align: right;
}
.prose-center{
    text-align: center;
}
.prose-right{
    text-align: right;
}
p.title{
    margin-left: 1.5em;
}
div.indent1{
    text-indent: 1em;
    margin: 0.2em 0 0.2em;
}
div.indent2{
    text-indent: 2em;
    margin: 0.2em 0 0.2em;
}
div.indent3{
    text-indent: 3em;
    margin: 0.2em 0 0.2em;

}
div.indent4{
    text-indent: 4em;
    margin: 0.2em 0 0.2em;

}
div.indent5{
    text-indent: 5em;
    margin: 0.2em 0 0.2em;

}
div.indent6{
    text-indent: 6em;
    margin: 0.2em 0 0.2em;

}
div.indent7{
    text-indent: 7em;
    margin: 0.2em 0 0.2em;

}
div.indent8{
    text-indent: 8em;
    margin: 0.2em 0 0.2em;

}
div.indent9{
    text-indent: 9em;
    margin: 0.2em 0 0.2em;

}
div.indent10{
    text-indent: 10em;
    margin: 0.2em 0 0.2em;

}
div.indent11{
    text-indent: 11em;
    margin: 0.2em 0 0.2em;

}
div.indent12{
    text-indent: 12em;
    margin: 0.2em 0 0.2em;

}
div.indent13{
    text-indent: 13em;
    margin: 0.2em 0 0.2em;

}
div.indent14{
    text-indent: 14em;
    margin: 0.2em 0 0.2em;

}
div.indent15{
    text-indent: 15em;
    margin: 0.2em 0 0.2em;

}
div.align-last-right{
    margin: 0.2em 0 0.2em;
    text-align:justify;
    text-align-last:right;
}
div.verse-line{
    margin: 0.2em 0 0.2em;
}

.drama{
    margin: 1em 2em 0 2em;
    
}
.drama-speaker{
    text-align:center;
    margin-bottom:-0.5em;
}
.drama-speech{
    margin-bottom: 0.5em
}
